<nav class="navbar navbar-expand-sm navbar-light bg-success">
      <div class="container">
        <a class="navbar-brand" href="#">logo</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                <span class="navbar-text">{{user.username}}|</span>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LogOut</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">sing up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
                {% endif %}
            </ul>
        </div>
  </div>
</nav>
